@tailwind base;
@tailwind components;
@tailwind utilities;
@import "keen-slider/keen-slider.min.css";
* {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
body {
  @apply bg-main;
}

.container {
  @apply px-[1rem];
}

:root {
  --primary: #ffffff;
  --main: #10172a;
  --secondary: #64748b;
  --addition: #58dad9;
  --dark: #0b101e;
  --background: #f1f5f9;
}

/* Apply the custom properties in your CSS */
.bordertext {
  color: transparent;
  -webkit-text-stroke: 3px var(--addition);
  text-shadow: 0 0 20px rgba(88, 218, 217, 0.8);
}

.star_background {
  background: url(/bg-divider.webp);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top;
}

.red_star_background {
  background: url(/red-stars.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top;
}

.glass_background {
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(8px);
}

.projectblock {
  background: rgba(255, 255, 255, 0.02);
  backdrop-filter: blur(8px);
}

.projectblock:hover {
}
